<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="../../../static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
</head>

<form  action="/admin/show/qbc/list" method="post">


    <div class="col-xs-2 type-one">
        <input type="text" name="username" class="form-control" placeholder="已学号查询:如173022xx">
        <input type="text" name="nickname" class="form-control" placeholder="已姓名查询:如⼩小甜甜">
        <button type="submit" class="btn btn-default btn-success">搜索</button>

    </div>




    <table class="table .table-hover">
        <thead>
        <tr>
            <th>id</th>
            <th>用户名</th>
            <th>姓名</th>
            <th>性别</th>
            <th>班级</th>
            <th>密码</th>
            <th>状态</th>
            <th>创建时间</th>
            <th>最后一次登录时间</th>
            <th>最后一次修改时间</th>

        </tr>
        </thead>
        <tbody>


        <tr th:each="data : ${datas}">
            <td th:text="${data.id}"></td>
            <td th:text="${data.username}"></td>
            <td th:text="${data.nickname}"></td>
            <td th:text="${data.gender}"></td>
            <td th:text="${data.classes}"></td>
            <td th:text="${data.password}"></td>
            <td th:text="${data.status}"></td>
            <td th:text="${data.create_time}"></td>
            <td th:text="${data.last_login_time}"></td>
            <td th:text="${data.last_update_time}"></td>
            <td><a th:href="@{/admin/toUserEdit(id=${data.id})}">编辑</a></td>


        </tr>


        </tbody>
    </table>

</form>

<div class="form-group">
    <div class="col-sm-2 control-label">
        <a href="/admin/user/register" class="btn btn-info">新增用户</a>
    </div>
</div>


<div class="form-group">
    <div class="col-sm-2 control-label">
        <a href="/UserExcelDownloads" class="btn btn-info">导出EXCEL</a>
    </div>
</div>

<div class="page" style="text-align: center">


    <ul data-am-widget="pagination" class="pagination pagination-lg" style="text-align: center">
        <li>
            <a th:href="@{/admin/show/page/list(page=0)}" class="">首页</a>
        </li>

    </ul>


    <ul th:if="${datas.totalPages le 7}" data-am-widget="pagination" class="pagination pagination-lg" style="text-align: center">




        <li th:if="${datas.number > 0}" class="disabled">
            <a th:href="@{?page={page}(page=${datas.number})}" class="">上一页</a>
        </li>
        <li th:each="i : ${#numbers.sequence(1, datas.totalPages)}"
            th:classappend="${(datas.number + 1) eq i} ? 'am-active' : ''">
            <a th:href="@{?page={page}(page=${i})}"
               th:text="${i}" class="">1</a>
        </li>
        <li th:unless="${datas.number + 1 == datas.totalPages}" class="disabled ">
            <a th:href="@{?page={page}(page=${datas.number} + 2)}" class="">下一页</a>
        </li>
    </ul>
    <ul th:if="${datas.totalPages gt 7}" data-am-widget="pagination" class="pagination pagination-lg" style="text-align: center">
        <!-- 上一页 -->
        <li th:classappend="*{first} ? 'disabled' : ''" th:if="${datas.number > 0}" class="am-pagination-prev ">
            <a th:href="@{?page={page}(page=${datas.number - 2})}">上一页</a>
        </li>
        <li class="am-pagination-first" th:classappend="${(datas.number + 1) eq 1} ? 'am-active' : ''">
            <a th:href="@{?page=1}">1</a>
        </li>
        <!-- 当前页面小于等于4 -->
        <li th:if="${(datas.number + 1) le 4}" th:each="i : ${#numbers.sequence(2,5)}"
            th:classappend="${(datas.number + 1) eq i} ? 'am-active' : ''" >
            <a th:href="@{?page={page}(page=${i})}">
                <span th:text="${i}"></span>
            </a>
        </li>
        <li th:if="${(datas.number + 1) le 4}">
            <a href="javascript:void(0);">
                <span aria-hidden="true">...</span>
            </a>
        </li>
        <!-- 最后一页与当前页面之差，小于等于3 -->
        <li th:if="${(datas.totalPages -(datas.number + 1)) le 3}">
            <a href="javascript:void(0);" >
                <span aria-hidden="true">...</span>
            </a>
        </li>
        <li th:if="${(datas.totalPages -(datas.number + 1)) le 3}" th:each="i : ${#numbers.sequence(datas.totalPages -4, datas.totalPages -1)}"
            th:classappend="${(datas.number + 1) eq i} ? 'am-active' : ''" >
            <a th:href="@{?page={page}(page=${i})}">
                <span th:text="${i}"></span>
            </a>
        </li>
        <!-- 最后一页与当前页面之差大于3，且  当前页面大于4-->
        <li th:if="${((datas.number + 1) gt 4) && ((datas.totalPages -( datas.number + 1)) gt 3 )}">
            <a href="javascript:void(0);">
                <span aria-hidden="true">...</span>
            </a>
        </li>
        <li th:if="${((datas.number + 1) gt 4) && ((datas.totalPages -(datas.number + 1)) gt 3 )}"
            th:classappend="${(datas.number + 1) eq (datas.number + 1)} ? 'am-active' : ''">
            <a th:href="@{?page={page}(page=${datas.number +1})}" th:text="${datas.number +1}">number</a>
        </li>
        <li th:if="${((datas.number + 1) gt 4) && ((datas.totalPages -(datas.number + 1)) gt 3 )}">
            <a th:href="@{?page={page}(page=${datas.number+2})}" th:text="${datas.number+2}">number</a>
        </li>
        <li th:if="${((datas.number + 1) gt 4) && ((datas.totalPages -(datas.number + 1)) gt 3 )}">
            <a th:href="@{?page={page}(page=${datas.number+3})}" th:text="${datas.number+3}">number</a>
        </li>
        <li th:if="${((datas.number + 1) gt 4) && ((datas.totalPages -(datas.number + 1)) gt 3 )}">
            <a href="javascript:void(0);">
                <span aria-hidden="true">...</span>
            </a>
        </li>
        <!-- 最后一页 -->
        <li th:classappend="${(datas.number + 1) eq datas.totalPages} ? 'am-active' : ''" >
            <a th:href="@{?page={page}(page=${datas.totalPages})}" th:text="${datas.totalPages}">endPage</a>
        </li>
        <!-- 下一页 -->
        <li th:classappend="*{last} ? 'disabled' : ''" th:unless="${datas.number + 1 == datas.totalPages}">
            <a th:href="@{?page={page}(page=${datas.number+2})}">
                <span aria-hidden="true">下一页</span>
            </a>
        </li>
    </ul>


    <ul data-am-widget="pagination" class="pagination pagination-lg" style="text-align: center">
        <li>
            <a th:href="@{/admin/show/page/list(page=${totalPages-1})}" class="">尾页</a>
        </li>

    </ul>

</div>




</body>
<script src="/static/js/jquery-3.3.1.min.js"></script>
<script src="../../../static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>




</html>